<template lang="pug">
.messages.pa-4
	.display-1.pb-4
		| История сообщений

	error-alert(
		v-if="errorMessage"
		:error="errorMessage"
	)

	messages-filter(
		:headers-select-options="defaultTableHeaders"
		:headers="allowedTableHeaders"
		:default-date-from="filterDateFrom"
		:default-date-to="filterDateTo"
		@select-date-from="selectDateFrom"
		@select-date-to="selectDateTo"
		@select-headers="selectFields"
		@change-custom-filter="changeCustomFilter"
		@download-file="downloadTableAsFile"
	)

	messages-list(
		:list="messages"
		:is-loading="isRequestInprogress"
		:headers="allowedTableHeaders"
		@click-status="openChangelog"
	)

	status-changelog(
		v-if="isChangelogActive"
		:changelog="changelog"
		@close="closeChangelog"
	)

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import Modal from '@/components/modal.vue';
import {
	MESSAGES_STORE_NAME,
	defaultTableHeaders,
	TGetterMessages,
	TGetterTableHeaders,
	TGetterChangelog,
	TMutationSelectFields,
	TActionFetchMessages,
	TActionSelectDateFrom,
	TActionSelectDateTo,
	TActionChangeCustomFilter,
	ActionFetchMessageChangelog,
	TActionDownloadTableAsFile,
} from '@/modules/messages/store/messages-store';
import ErrorAlert from '@/components/error-alert.vue';
import MessagesList from './messages-list.vue';
import MessagesFilter from './messages-filter.vue';
import MessagesStatusChangelog from './messages-status-changelog.vue';

const MESSAGES = namespace(MESSAGES_STORE_NAME);

@Component({
	components: {
		Modal,
		ErrorAlert,
		MessagesList,
		MessagesFilter,
		StatusChangelog: MessagesStatusChangelog,
	},
})
export default class Messages extends Vue {
	@MESSAGES.Getter readonly messages!: TGetterMessages;
	@MESSAGES.Getter readonly isRequestInprogress!: boolean;
	@MESSAGES.Getter readonly errorMessage!: string;
	@MESSAGES.Getter readonly filterDateFrom!: string;
	@MESSAGES.Getter readonly filterDateTo!: string;
	@MESSAGES.Getter readonly allowedTableHeaders!: TGetterTableHeaders;
	@MESSAGES.Getter readonly changelog!: TGetterChangelog;

	@MESSAGES.Mutation('allowedFields') selectFields!: TMutationSelectFields;
	@MESSAGES.Action fetchMessages!: TActionFetchMessages;
	@MESSAGES.Action selectDateFrom!: TActionSelectDateFrom;
	@MESSAGES.Action selectDateTo!: TActionSelectDateTo;
	@MESSAGES.Action changeCustomFilter!: TActionChangeCustomFilter;
	@MESSAGES.Action downloadTableAsFile!: TActionDownloadTableAsFile;
	@MESSAGES.Action fetchMessageChangelog!: ActionFetchMessageChangelog;

	defaultTableHeaders = defaultTableHeaders;
	isChangelogActive = false;

	async openChangelog(messageId: number): Promise<void> {
		await this.fetchMessageChangelog(messageId);
		this.isChangelogActive = true;
	}

	closeChangelog(): void {
		this.isChangelogActive = false;
	}

	created(): void {
		this.fetchMessages();
	}
}
</script>
