<template lang="pug">
v-card.pa-4.pt-6.messages-filter
	v-row
		v-col(cols="4")
			filter-period(
				:default-date-from="defaultDateFrom"
				:default-date-to="defaultDateTo"
				@select-date-from="selectDateFrom"
				@select-date-to="selectDateTo"
			)

		v-col(cols="5")
			v-select(
				v-model="selectedCols"
				:items="headersSelectOptions"
				:menu-props="{ maxHeight: '600' }"
				label="Отображаемые колонки"
				multiple
				chips
				outlined
				persistent-hint
				@input="selectHeaders"
			)

		v-col.text-right(cols="3")
			v-btn(
				color="primary"
				@click="$emit('download-file')"
			)
				v-icon.mr-2(v-text="'mdi-file-document'")
				| Скачать CSV

	filter-list(
		:filters="filters"
		@add-filter="openFilterCreateDialog"
		@remove-filter="removeFilter"
	)

	filter-create-form(
		v-if="isFilterCreateDialogActive"
		:cols-select-options="headers"
		@add-filter="addFilter"
		@close="closeFilterCreateDialog"
	)

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import DatePicker from '@/components/date-time-picker.vue';
import { TTableHeaders } from '@/modules/messages/store/messages-store';
import MessagesFilterPeriod from './messages-filter-period.vue';
import MessagesFilterCreateForm from './messages-filter-create-form.vue';
import MessagesFilterList from './messages-filter-list.vue';

@Component({
	components: {
		DatePicker,
		FilterPeriod: MessagesFilterPeriod,
		FilterCreateForm: MessagesFilterCreateForm,
		FilterList: MessagesFilterList,
	},
})
export default class MessagesList extends Vue {
	@Prop({ type: String, default: '' }) readonly defaultDateFrom!: string;
	@Prop({ type: String, default: '' }) readonly defaultDateTo!: string;
	@Prop({ type: Array, required: true }) headers!: TTableHeaders;
	@Prop({ type: Array, required: true }) headersSelectOptions!: TTableHeaders;

	filters: TCol[] = [];
	isFilterCreateDialogActive = false;

	selectedCols = this.headers.map(h => h.value);

	selectHeaders(headers: string[]): void {
		this.$emit('select-headers', headers);
	}

	openFilterCreateDialog(): void {
		this.isFilterCreateDialogActive = true;
	}

	closeFilterCreateDialog(): void {
		this.isFilterCreateDialogActive = false;
	}

	addFilter({ name, value }: { name: string; value: string }): void {
		this.filters.push({ name, value });
		this.closeFilterCreateDialog();
		this.$emit('change-custom-filter', this.filters);
	}

	removeFilter({ name }: TCol): void {
		this.filters = this.filters.filter(filter => filter.name !== name);
		this.$emit('change-custom-filter', this.filters);
	}

	selectDateFrom(date: string): void {
		this.$emit('select-date-from', date);
	}

	selectDateTo(date: string): void {
		this.$emit('select-date-to', date);
	}
}

type TCol = {
	name: string;
	value: string;
};
</script>
