<template lang="pug">
modal(
	width="800"
	@close="$emit('close')"
)
	v-card
		v-card-title.headline
			| История изменений статуса
			v-spacer
			v-btn(
				icon
				@click.native="$emit('close')"
			)
				v-icon(v-text="'mdi-close'")

		v-data-table(
			:headers="changelogHeaders"
			:items="changelog"
		)

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Modal from '@/components/modal.vue';
import { TMessageChangelog } from '@/services/messages-service';

@Component({
	components: { Modal },
})
export default class MessagesStatusChangelog extends Vue {
	@Prop({ type: Array, default: () => [] }) readonly changelog!: TMessageChangelog;

	readonly changelogHeaders = [
		{
			text: 'Дата',
			value: 'createdAt',
		},
		{
			text: 'Статус',
			value: 'statusCode',
		},
		{
			text: 'Инициатор',
			value: 'initiatedBy',
		},
	];
}
</script>
