<template lang="pug">
.messages-filter-list
	.title
		| Фильтры

		v-btn(
			icon
			@click="$emit('add-filter')"
		)
			v-icon(
				color="primary"
				v-text="'mdi-plus-circle'" 
			)
		
	v-chip-group
		v-chip.pa-3(
			v-for="filter in filters"
			:key="filter.name"
			rounded="t-xl"
			color="primary"
		)
			span
				| {{filter.name}}:
				| {{ filter.value }}

			v-btn(
				icon
				@click="$emit('remove-filter', filter)"
			)
				v-icon(
					color="white"
					v-text="'mdi-delete'"
				)

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { TTableHeaders } from '@/modules/messages/store/messages-store';

@Component
export default class MessagesFilterList extends Vue {
	@Prop({ type: Array, default: () => [] }) filters!: TTableHeaders;
}
</script>
