<template lang="pug">
.messages-filter-period
	date-picker(
		:default-date="defaultDateFrom"
		label="Начало периода"
		@input="selectDateFrom"
	)

	date-picker(
		:default-date="defaultDateTo"
		label="Конец периода"
		@input="selectDateTo"
	)

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import DatePicker from '@/components/date-time-picker.vue';

@Component({
	components: {
		DatePicker,
	},
})
export default class MessagesFilterPeriod extends Vue {
	@Prop({ type: String, default: '' }) readonly defaultDateFrom!: string;
	@Prop({ type: String, default: '' }) readonly defaultDateTo!: string;

	selectDateFrom(date: string): void {
		this.$emit('select-date-from', date);
	}

	selectDateTo(date: string): void {
		this.$emit('select-date-to', date);
	}
}
</script>
