<template lang="pug">
modal(
	width="400"
	@close="$emit('close')"
)
	v-card
		v-card-title.headline
			| Добавить фильтр
			v-spacer
			v-btn(
				icon
				@click.native="$emit('close')"
			)
				v-icon(v-text="'mdi-close'")

		.pa-4
			v-select( 
				v-model="filterName"
				:items="colsSelectOptions"
				item-text="text"
				item-value="value"
				label="Колонка"
				color="black"
				outlined
				dense
			)

			v-text-field(
				v-model="filterValue"
				label="Значение"
				color="black"
				outlined
				dense
			)

			v-btn(
				color="primary"
				:disabled="!isAdditingAvailable"
				@click="addFilter"
			)
				| Добавить

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Modal from '@/components/modal.vue';
import { TTableHeaders } from '@/modules/messages/store/messages-store';

@Component({
	components: {
		Modal,
	},
})
export default class MessagesFilterCreateForm extends Vue {
	@Prop({ type: Array, required: true }) colsSelectOptions!: TTableHeaders;

	filterName = '';
	filterValue = '';

	get isAdditingAvailable(): boolean {
		return Boolean(this.filterName && this.filterValue);
	}

	addFilter(): void {
		this.$emit('add-filter', {
			name: this.filterName,
			value: this.filterValue,
		});
	}
}
</script>
