<template lang="pug">
.messages-list-contacts
	.contact(v-for="contact in clippedList")
		| {{ contact }}
	
	a.text-decoration-underline(
		v-if="canShowMore"
		@click="showFullList"
	)
		| Показать все

	modal(
		v-if="isFullListVisible"
		width="1024"
		@close="closeFullList"
	)
		v-card
			v-card-title.headline
				| Контакты
				| ({{ contacts.length }})
				v-spacer
				v-btn(
					icon
					@click.native="closeFullList"
				)
					v-icon(v-text="'mdi-close'")

			v-list
				v-list-item(
					v-for="(contact, index) in contacts"
					:key="index"
				)
					v-list-item-content.full-contact
						v-row
							v-col(cols="auto")
								b {{index + 1}})
							v-col(cols="11")
								span {{ contact }}
						v-divider.mt-4

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Modal from '@/components/modal.vue';

@Component({
	components: {
		Modal,
	},
})
export default class MessagesListContacts extends Vue {
	@Prop({ type: Array, default: () => [] }) contacts!: TContacts;

	isFullListVisible = false;

	get clippedList(): TContacts {
		return this.contacts.filter((item, index) => index < 3);
	}

	get canShowMore(): boolean {
		return this.contacts.length > 3;
	}

	showFullList(): void {
		this.isFullListVisible = true;
	}

	closeFullList(): void {
		this.isFullListVisible = false;
	}
}

type TContacts = string[];
</script>

<style scoped>
.contact {
	display: block;
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.full-contact {
	word-break: break-all;
}
</style>
