<template lang="pug">
v-card.mt-8
	v-data-table.messages(
		:loading="isLoading"
		:headers="headers"
		:items="list"
		:item-key="'partnerId + id'"
		:items-per-page="15"
		no-data-text="Сообщения отсутствуют"
	)
		template(v-slot:item.contacts="{ item }")
			list-contacts(
				:contacts="item.contacts"
			)

		template(v-slot:item.status="{ item }")
			v-chip(
				:color="getStatusColor(item.status)"
				@click="$emit('click-status', item.id)"
			)
				| {{ item.status }}

</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import MessageEntity, { MessageStatusCode } from '@/entities/message-entity';
import { TTableHeaders } from '@/modules/messages/store/messages-store';
import MessagesListContacts from './messages-list-contacts.vue';

@Component({
	components: {
		ListContacts: MessagesListContacts,
	},
})
export default class MessagesList extends Vue {
	@Prop({ type: Array, default: () => [] }) list!: MessageEntity[];
	@Prop({ type: Boolean, default: false }) isLoading!: boolean;
	@Prop({ type: Array, required: true }) headers!: TTableHeaders;

	getStatusColor(status: string): string {
		return status === MessageStatusCode.Failed ? 'red lighten-2' : '';
	}
}
</script>
